@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(239, 200, 239);
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar{
    display: none;
}

header {
    padding: 8px 16px;
}

.kanban-board-columns{
    display: flex;
    align-items: start;
    gap: 12px;
    overflow-x: auto;
    padding: 8px 16px;
}

.column-container{
    background-color: rgb(238, 154, 196);
    width: 350px;
    height: 600px;
    flex-shrink: 0;
    border-radius: 12px;
}

.backlog-container{
    background-color: bisque;
}

.backlog-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    border-bottom: 1px solid rgb(53, 51, 51);
}